<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body ng-app>
    <h1 class="text-center m-3 text-success-emphasis">Фільми</h1>
    <main class="container">
        <div ng-init='movies=[
        {"number": 1, "title": "Дюна", "year": 2021, "genre": "Бойовик, Драма, Пригоди, Фантастика", "producer": "Дені Вільньов", "country": "США, Канада, Угорщина"},
        {"number": 2, "title": "Аватар", "year": 2009, "genre": " Драма, Фантастика, Бойовик, Пригоди", "producer": "Джеймс Кемерон", "country": "США"},
        {"number": 3, "title": "Усміхайся", "year": 2022, "genre": "Детективи , Трилери , Жахи", "producer": "
        Parker Finn", "country": "США"},
        {"number": 4, "title": "Чорний Адам", "year": 2022, "genre": "Фентезі, Бойовик, Пригоди", "producer": "
        Жауме Колєт-Серра", "country": "США, Канада, Нова Зеландія, Угорщина"},
        {"number": 5, "title": "Воно", "year": 2017, "genre": "Пригоди , Драми , Трилери , Жахи", "producer": "
       
Андрес Мускетті", "country": "Канада, США"}
        ]'>
        </div>
       <input placeholder="Введіть текст..."type="text" class="form-control" ng-model="search">
        <table class="table m-3 ">
            <tr class="bg-success">
                <th col="2" class="text-center">Число</th>
                <th col="2" class="text-center">Назва</th>
                <th col="2" class="text-center">Рік випуску</th>
                <th col="2" class="text-center">Жанри</th>
                <th col="2" class="text-center">Режисер</th>
                <th col="2" class="text-center">Країна</th>
            </tr>
            <tr class="bg-success" ng-repeat="movie in movies | filter : search">
                <td>{{movie.number}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.year}}</td>
                <td>{{movie.genre}}</td>
                <td>{{movie.producer}}</td>
                <td>{{movie.country}}</td>
            </tr>
        </table>




    </main>
    


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</body>
</html>